@import '../../sass/variables.scss';
$border-default : 1px solid $light-blue-2x;

#layoutGrid{
    display: grid;
    // .row{
    //     display: grid; 
    //     // border-top: $border-default;
    //     // border-left: $border-default;
    //     // border-right: $border-default;
    // }

    // .row:last-child{
    //     border-bottom: $border-default;
    // }    

    .gradient-btn{
        border: none;
        outline: none;
        padding: 5px;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 1px;
    }    
}

