@import '../../sass/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$border-default : 1px solid $light-blue-2x;

#layoutGrid{
    display: grid;
    .row{
        display: grid; 
        border-top: $border-default;
        border-left: $border-default;
        border-right: $border-default;
    }

    .row:last-child{
        border-bottom: $border-default;
    }    

    .gradient-btn{
        background: linear-gradient(45deg, #ff008e, #124e96);
        color: white;
        border: none;
        outline: none;
        padding: 5px;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 1px;
    }    
}

