$light-blue : #daeaf6;
$light-blue-2x: #71bff9;
$blue : #0d8abc;
$dark-blue: #124e96;
$dark-pink: #ff008e;

$pallet-2-blue: rgba(0, 0, 66, 0.75);
$pallet-2-light-blue : rgba(17, 104, 217, 0.75);
$pallet-2-green: rgba(0, 217, 159, 0.75);
$pallet-2-sky-blue:  rgba(0, 190, 218, 0.75);;